<h1>Sales</h1>

<p><%= @sale.cod %></p>
<p><%= @sale.detail %></p>
<p><%= @sale.category %></p>
<p><%= @sale.value %></p>
<p><%= @sale.discount %></p>
<p><%= @sale.tax %></p>
<p><%= @sale.total %></p>